In [2]:
import pandas as pd
!pip install

In [6]:
df = pd.read_csv("../data/raw/conjunto_de_datos_tapart_a_endiseg_2021.csv")
df

,FOLIO,VIV_SEL,HOGAR,N_REN,P6_1_01,P6_1_02,P6_1_03,P6_1_04,P6_1_05,P6_1_06,...,P6_6_3,P6_6_4,P6_6_5,P6_6_6,P6_6_7,P6_6_8,P6_6_9,EST_DIS,UPM_DIS,FACTOR
0,100038,2,1,2,1,1,2,2,2,2,...,2,2,2,1,2,2,2,2,3,461
1,100087,2,1,6,2,1,2,1,2,2,...,2,2,2,2,2,2,2,1,11,1863
2,100091,4,1,5,1,2,2,2,2,2,...,1,2,2,2,2,2,2,1,12,1041
3,100138,1,1,4,1,2,1,2,2,2,...,2,1,2,1,2,2,2,2,14,1015
4,100181,5,1,2,2,2,1,2,2,2,...,2,2,2,2,2,2,2,2,20,536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220,3260699,19,1,4,1,1,2,2,2,2,...,2,2,2,1,2,2,2,512,6365,1297
2221,3260714,18,1,1,1,2,2,2,2,2,...,1,2,2,2,2,2,2,513,6366,354
2222,3260723,11,1,3,1,1,2,2,2,2,...,2,1,2,1,1,2,2,513,6367,1033
2223,3260755,6,1,2,1,2,2,2,2,2,...,2,2,2,1,1,2,2,513,6370,1531
2224,3260770,12,1,3,1,1,2,2,2,2,...,2,2,2,1,2,2,2,513,6371,866

NameError: name 'cd' is not defined